<!DOCTYPE html>
<html>
  <head>
    <title>Login through Discord</title>
  </head>
  <body>
    <p>You are currently <b>logged out</b>!</br></br>
      <button type="button" onclick="location.href='<%= oauthURL %>'">
        Log in to Discord!
      </button>
  </body>
</html>
