<!DOCTYPE html>
<html>
  <head>
    <title>Login through Discord</title>
  </head>
  <body>
    <p>You are currently <b>logged in</b> as <%= username %>#<%= discriminator %>!</p>
    <form action='/' method='post'>
      <input type='submit' name='logout' value='Log out!'/>
    </form>
  </body>
</html>
